@{
	ViewData["Title"] = "Inicio";
}
<div class="mt-5">
	<p class="h5 text-center">Bienvenido a "Registro de inventario LPS".</p>
	<img src="~/images/logo-lps.png" class="img-fluid mx-auto d-block col-sm-6 col-8" />
</div>