:root {
    --color-primary-site: #001988;
}

html {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}



/* -------------- CUSTOM -------------- */
.toWhite {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(113deg) brightness(105%) contrast(101%);
}

.color-primary-site {
    color: var(--color-primary-site);
}

.bg-primary-site {
    background-color: var(--color-primary-site);
}

.border-primary-site {
    border: 1px solid var(--color-primary-site);
}

/* Pila de navegación */
.nav-link-sidebar:hover {
    background-color: #0022bb;
}

.sub-nav-link:hover {
    background-color: #091c70;
}

/* PARA ITEM ADMINISTRADOR DE NAVEGACION*/
.cursor-pointer {
    cursor: pointer;
}

.user-select-none {
    user-select: none;
}

/* FONT SIZE PARA TABLAS*/

.fs-theader {
    font-size: 10px;
}

.fs-td {
    font-size: 13px !important;
}

.fs-td * {
    font-size: inherit !important;
}

.label-sm {
    font-size: 12px;
}

.input-sm {
    font-size: 13px;
}

.btn-form {
    font-size: 13px;
}


/* ESTILOS PARA FORM DE INEVNETAIRO*/
.td-codigo, .td-valor, .td-parte, .td-serie {
    min-width: 100px;
    max-width: 120px;
    width: 110px;
}

.td-cantidad {
    min-width: 60px;
    max-width: 80px;
    width: 70px;
}

.td-proveedor, .td-producto, .td-departamento, .td-categoria, .td-linea, .td-sublinea, .td-ubicacion, .td-estatus, .td-clasificacion {
    min-width: 180px;
    max-width: 220px;
    width: 200px;
}

.td-descripcion, .td-especificaciones {
    min-width: 220px;
    max-width: 260px;
    width: 240px;
}

.readonly {
    background-color: #d5dde8;
    border: 1px solid #ced4da;
}


