@{
	ViewData["Title"] = "Opciones del Sistema";
}

<h1 class="text-center">Opciones del Sistema</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 px-3 g-2 align-items-center">
	<div class="col">
		<a asp-controller="Categorias" asp-action="Index" class="btn btn-primary w-100 text-center">Categorías</a>
	</div>
	<div class="col">
		<a asp-controller="Clasificaciones" asp-action="Index" class="btn btn-primary w-100 text-center">Clasificaciones</a>
	</div>
	<div class="col">
		<a asp-controller="Clientes" asp-action="Index" class="btn btn-primary w-100 text-center">Clientes</a>
	</div>
	<div class="col">
		<a asp-controller="Departamentos" asp-action="Index" class="btn btn-primary w-100 text-center">Departamentos</a>
	</div>
	<div class="col">
		<a asp-controller="Empleados" asp-action="Index" class="btn btn-primary w-100 text-center">Empleados</a>
	</div>
	<div class="col">
		<a asp-controller="Estatus" asp-action="Index" class="btn btn-primary w-100 text-center">Estatus</a>
	</div>
	<div class="col">
		<a asp-controller="Ubicaciones" asp-action="Index" class="btn btn-primary w-100 text-center">Ubicaciones</a>
	</div>
	<div class="col">
		<a asp-controller="LineasServicio" asp-action="Index" class="btn btn-primary w-100 text-center">Líneas de servicio</a>
	</div>
	<div class="col">
		<a asp-controller="SubLineasServicio" asp-action="Index" class="btn btn-primary w-100 text-center">Sub-líneas de servicio</a>
	</div>
	<div class="col">
		<a asp-controller="Productos" asp-action="Index" class="btn btn-primary w-100 text-center">Productos</a>
	</div>
	<div class="col">
		<a asp-controller="Proveedores" asp-action="Index" class="btn btn-primary w-100 text-center">Proveedores</a>
	</div>
	<div class="col">
		<a asp-controller="CorreosAdicionalesProveedor" asp-action="Index" class="btn btn-primary w-100 text-center">Correos adicionales de proveedor</a>
	</div>
</div>
