@model InventarioLPS.Data.Entities.NovedadItem

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NovedadItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Novedad" class="control-label"></label>
                <input asp-for="Novedad" class="form-control" />
                <span asp-validation-for="Novedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdItemInventario" class="control-label"></label>
                <select asp-for="IdItemInventario" class="form-control" asp-items="ViewBag.IdItemInventario"></select>
                <span asp-validation-for="IdItemInventario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
