@model ItemInventarioViewModel
@{
    var index = (int)ViewData["Index"];

    var proveedores = ViewData["Proveedores"] as SelectList;
    var productos = ViewData["Productos"] as SelectList;
    var ubicaciones = ViewData["Ubicaciones"] as SelectList;
    var estatus = ViewData["Estatus"] as SelectList;
    var clasificaciones = ViewData["Clasificaciones"] as SelectList;
}

<tr>
    <td class="fs-td">
        <button type="button" class="btn btn-sm btn-outline-primary btn-duplicate-row px-2 py-1">
            <i class="bi bi-copy"></i>
        </button>
        <button type="button" class="btn btn-sm btn-danger btn-remove-row px-2 py-1">
            <i class="bi bi-x-circle"></i>
        </button>
    </td>
    <td class="fs-td td-codigo">
        <input asp-for="CodigoItem" name="Items[@index].CodigoItem" class="form-control form-control-sm" />
        <span asp-validation-for="CodigoItem" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-cantidad">
        <input asp-for="Cantidad" name="Items[@index].Cantidad" class="form-control form-control-sm" />
        <span asp-validation-for="Cantidad" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-valor">
        <input asp-for="ValorSinIva" name="Items[@index].ValorSinIva" class="form-control form-control-sm" />
        <span asp-validation-for="ValorSinIva" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-proveedor">
        <select asp-for="Proveedor" name="Items[@index].Proveedor" asp-items="proveedores" class="form-select form-select-sm">
            <option value="">-- Seleccione --</option>
        </select>
        <span asp-validation-for="Proveedor" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-producto">
        <select asp-for="Producto" name="Items[@index].Producto" asp-items="productos" class="form-select form-select-sm">
            <option value="">-- Seleccione --</option>
        </select>
        <span asp-validation-for="Producto" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-departamento">
        <input asp-for="Departamento" name="Items[@index].Departamento" class="form-control form-control-sm" disabled readonly />
        <span asp-validation-for="Departamento" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-categoria">
        <input asp-for="Categoria" name="Items[@index].Categoria" class="form-control form-control-sm" disabled readonly />
        <span asp-validation-for="Categoria" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-linea">
        <input asp-for="LineaServicio" name="Items[@index].LineaServicio" class="form-control form-control-sm" disabled readonly />
        <span asp-validation-for="LineaServicio" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-sublinea">
        <input asp-for="SubLineaServicio" name="Items[@index].SubLineaServicio" class="form-control form-control-sm" disabled readonly />
        <span asp-validation-for="SubLineaServicio" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-descripcion">
        <input asp-for="DescripcionEspecifica" name="Items[@index].DescripcionEspecifica" class="form-control form-control-sm" />
        <span asp-validation-for="DescripcionEspecifica" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-especificaciones">
        <input asp-for="EspecificacionesTecnicas" name="Items[@index].EspecificacionesTecnicas" class="form-control form-control-sm" />
        <span asp-validation-for="EspecificacionesTecnicas" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-parte">
        <input asp-for="NumeroParteFabricante" name="Items[@index].NumeroParteFabricante" class="form-control form-control-sm" />
        <span asp-validation-for="NumeroParteFabricante" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-serie">
        <input asp-for="NumeroSerieLps" name="Items[@index].NumeroSerieLps" class="form-control form-control-sm" />
        <span asp-validation-for="NumeroSerieLps" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-ubicacion">
        <select asp-for="Ubicacion" name="Items[@index].Ubicacion" asp-items="ubicaciones" class="form-select form-select-sm">
            <option value="">-- Seleccione --</option>
        </select>
        <span asp-validation-for="Ubicacion" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-estatus">
        <select asp-for="Estatus" name="Items[@index].Estatus" asp-items="estatus" class="form-select form-select-sm">
            <option value="">-- Seleccione --</option>
        </select>
        <span asp-validation-for="Estatus" class="text-danger form-control-sm"></span>
    </td>
    <td class="fs-td td-clasificacion">
        <select asp-for="Clasificacion" name="Items[@index].Clasificacion" asp-items="clasificaciones" class="form-select form-select-sm">
            <option value="">-- Seleccione --</option>
        </select>
        <span asp-validation-for="Clasificacion" class="text-danger form-control-sm"></span>
    </td>
</tr>
